li {
  border-radius: 7px;
  padding: 0 0.5rem;
  flex: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

li p {
  margin: 0;
}

li .icon {
  width: 1.5rem;
  height: 1.5rem;
}

li .summary-category {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.red {
  background-color: hsla(0, 100%, 67%, 0.15);
}

.orange {
  background-color: hsl(39, 100%, 56%, 0.15);
}

.green {
  background-color: hsl(166, 100%, 37%, 0.15);
}

.blue {
  background-color: hsl(234, 85%, 45%, 0.15);
}

.summary-score {
  font-size: 1.1rem;
  font-weight: 700;
  text-align: right;
}

.category-title,
li span {
  font-weight: 800;
}

.red .category-title {
  color: hsla(0, 100%, 67%);
}

.orange .category-title {
  color: hsl(39, 100%, 56%);
}

.green .category-title {
  color: hsl(166, 100%, 37%);
}

.blue .category-title {
  color: hsl(234, 85%, 45%);
}

li {
  color: hsla(224, 30%, 27%, 0.38);
}

li span {
  color: hsla(224, 30%, 27%);
}
