article {
  height: 30rem;
  width: 45rem;
  margin: 10rem auto;
  box-shadow: 0 2px 12px 5px rgba(0, 0, 0, 0.2);
  border-radius: 18px;
  overflow: hidden;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

@media (max-width: 375px) {
  article {
    height: 100%;
    width: 25rem;
    margin: 0 auto;
    overflow: visible;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
  }
}
